header {
	height: 139px;
	padding: 55px 15px 84px 15px; /* A Bit More On The Bottom To Compensate Font */
	box-sizing: border-box;
	position: fixed;
	top: 0;
	width: 80%;
	background-origin: content-box;
	z-index: 10;
}

header h1 {
	float: left;
	margin-left: -2px; /* Font Compensation */
}

nav {
	font-family: HelveticaNeue-Heavy;
	font-size: 18px;
	letter-spacing: -1px;
	float: right;
}

nav a {
	padding-left: 15px;
	opacity: .6;
	will-change: opacity;
}

/* Hamburger */
#hamb {
	font-size: 22px!important;
	padding-left: 0;
	opacity: 1!important;
	position: relative;
	bottom: 4px;
	-webkit-transition: all .5s;
	   -moz-transition: all .5s;
	     -o-transition: all .5s;
	        transition: all .5s;
	display: none;
}

#hamb.open {
	-webkit-transform: rotate(90deg);
	   -moz-transform: rotate(90deg);
	     -o-transform: rotate(90deg);
	        transform: rotate(90deg);
}

/* Media Queries */
@media all and (max-width: 768px) {
	header {
		text-align: center;
	}

	nav, header h1 {
		float: none;
	}

	header h1 {
		margin-right: 15px;
	}

	#mainmenus {
		position: fixed;	
		left: 0;
		top: 100px;
		width: 100%;
		height: 100%;
		padding: 15px 0;
		z-index: 10;
		background: #fcfafa;
		background: -webkit-linear-gradient(bottom, rgba(241,239,239,1) 0%, rgba(252,250,250,1) 100%);
		background:      -o-linear-gradient(bottom, rgba(241,239,239,1) 0%, rgba(252,250,250,1) 100%);
		background:         linear-gradient(to top, rgba(241,239,239,1) 0%, rgba(252,250,250,1) 100%);
	
	
	}

	#mainmenus a {
		display: block;
		margin: 0px;
		padding-left: 0;
		transition: margin 1.1s ease, opacity .9s ease;
		opacity: 0;
	}

	#mainmenus.fadeIn a {
		margin: 30px;
		opacity: .6;
	}

	nav, #hamb, header h1 {
		display: inline-block!important;
	}
}

@media all and (max-width: 540px) {
	header {
		height: 89px;
	}

	header {
		padding: 30px 15px 0 15px;
		text-align: initial;
	}

	header h1 {
		float: left;
	}

	nav {
		float: right;
	}

	#mainmenus {
		text-align: center;
		top: 89px;
	}

	#hamb {
		position: static;
	}
}